<ion-view view-title="My Meets">
  	<ion-content>
    	
    	<div class="list list-inset">
	      <label class="item item-input">
	        <i class="icon ion-search placeholder-icon"></i>
	        <input type="text" placeholder="Filter" ng-keyup="searchfun($event)">
	      </label>
	    </div>

	    <div class="list">
		    <a class="item item-avatar" ng-click="openModal()">
		      <img src="img/ionic.png">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist.</p>
		    </a>
		</div>
	    <div class="list">
		    <a class="item item-avatar" ng-click="openModal()">
		      <img src="img/ionic.png">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist.</p>
		    </a>
		</div>
	    <div class="list">
		    <a class="item item-avatar" href="#" ng-click="openModal()">
		      <img src="img/ionic.png">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist.</p>
		    </a>
		</div>				
	    <div class="list">
		    <a class="item item-avatar" href="#" ng-click="openModal()">
		      <img src="img/ionic.png">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist.</p>
		    </a>
		</div>		
    </ion-content>
</ion-view>