<ion-modal-view>
    <ion-header-bar class="constColor">
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      	<div class="row">
	        <div class="col col-100 colviewbestiesimagemodel">
	            <img src="img/ionic.png" class="item-avatar animated fadeIn">
	        </div>
	    </div>
	    <div class="row">
	    	<div class="col colviewbestiesnamemodel">
	        	<h2><b>{{'pname'}}</b> </h2>
	            <p>2m ago, November 05, 1955</p>
	            <h3><span class="icon ion-location navigatelocationview animated fadeIn"></span></h3>
	        </div>
	    </div>

	    <hr id="ionviewbestiesdivider">
	    
	    <div class="list">
	      <div class="item item-divider">
	        <p><b>Detail</b></p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col">
	        P Name<br>
	        Member Since, Aug 19 ,1980
	      </div>
	    </div>
	    
	    <div class="list">
	      <div class="item item-divider">
	        <p><b>Last Meet</b></p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col">
	        <span class="icon ion-location"></span> 23 Dec, 1999 at Kurla Phoneix Mall.
	      </div>
	    </div><br><br>
	    <div class="card">
		    <div class="item item-text-wrap cardnotmeet">
		      No besties founded ago 28 days.
		    </div>
		</div>
    </ion-content>
</ion-modal-view>