<ion-modal-view>
    <!-- <ion-header-bar class="constColor">
      <h1 class="title">My Modal title</h1>
    </ion-header-bar> -->
    <ion-content class="contentProfile" >
    	<div class="meetmodelarrow"  ng-click="closeModal()"><i class="icon ion-arrow-left-c" ng-click="closeModal()"></i></div>
    	<img src="{{pic}}" class="animated fadeIn meetmodelimage"  ng-click="alert('dsf')" style="width: 100%;height: 80%;text-align: center;">
      	<!-- <div class="row">
	        <div class="col col-100 colviewbestiesimagemodel">
	            <img src="img/ionic.png" class="item-avatar animated fadeIn">
	        </div>
	    </div> -->
	    <div class="row">
	    	<div class="col colviewbestiesnamemodel">
	        	<h2><b class="allmeetsmodelb">{{uname}}</b> </h2>
	            <p class="allmeetsmodelp1">{{created}}</p>
	            <!-- <h3><span class="icon ion-location navigatelocationview animated fadeIn"></span></h3> -->
	        </div>
	    </div>

	    <hr id="ionviewbestiesdivider">
	    
	    <div class="list">
	      <div class="item item-divider">
	        <p><b>Detail</b></p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col allmeetsmodeldivrownamadd">
	        {{uname}}<br>
	        Member Since, {{created}}
	      </div>
	    </div>
	    
	    <div class="list">
	      <div class="item item-divider">
	        <p><b  class="allmeetsmodelcontact1">Contact Detail</b></p>
	      </div>
	      <h5 class="allmeetsmodelcontact2">{{ucontact}}</h5><br>
	      <h6 class="allmeetsmodelcontact3">{{email}}</h6>
	    </div>
	    <div>
	    	<button class="button"  ng-click="closeModal()">OK</button>
	    </div>
	    <!-- <div class="row">
	      <div class="col">
	        <span class="icon ion-location"></span> 23 Dec, 1999 at Kurla Phoneix Mall.
	      </div>
	    </div><br><br>
	    <div class="card">
		    <div class="item item-text-wrap cardnotmeet">
		      No besties founded ago 28 days.
		    </div>
		</div> -->
    </ion-content>
</ion-modal-view>