<ion-view view-title="Chat @ {{name}}">
  	<ion-content>
    	<div class="chatdiv">
    		<div class="chattexts">
    			<div class="chatfrom">
    				<p>Hi</p>
    			</div>
    			<div class="chatto">
    				<p>Ha bol kya hua!</p>
    			</div>
    			<div class="chatfrom">
    				<p>Hi2</p>
    			</div>
    			<div class="chatto">
    				<p>Ha fir se bol kya hua!</p>
    			</div>
    		</div>
    		<div id="chattextnbtn" class="row chattextnbtn">
				<div class="col col-80">
		  			<input type="text" class="chattextbox" name="chat" placeholder="Your Message To P_Name">	
				</div>
				<div class="col col-20 chatbtndiv">
					<button class="button chatbtn"><img src="img/sendmsg.png" width="40" height="40"></button>
				</div>
			</div>
    	</div>
    </ion-content>
    <!-- <ion-footer-bar class="bar bar-default">
    	
  	</ion-footer-bar> -->
</ion-view>