<ion-view view-title="All Contacts">
  <ion-content>
      <div ng-if="emptyJoinedFriends" class="list card">

        <div class="item item-avatar">
          <img src="img/ionic.png">
          <h2>Your Friends Are Yet Waiting</h2>
          <p>Browse By Contacts </p>
        </div>

        <div class="item item-image">
          <img src="img/starterimage.png">
        </div>

        <a class="item item-icon-left assertive text-center" ng-click="calllist()">
         Given Below,
        </a>

      </div>

      <div class="list">

        <div class="item item-divider">
          Pending connected besties,
          <span class="icon ion-person-stalker"></span>
        </div>
        <div>
         <div class="row">
           <div class="col col-20">
            <img src="img/ionic.png" width="60" height="60">   
           </div>
           <div class="col col-60">
             <h6>Venkman</h6>
             <p>Back off, man. I'm a scientist.</p>
           </div>
           <div class="col col-20">
             <i class="icon ion-android-done-all"  style="float: right;top: 0;right: 0;margin: 12%;font-size:28px;color: red;"></i>
           </div>
         </div>
        </div>   
        

      </div>
      

      <div class="list">

        <div class="item item-divider">
          My besties 
          <span class="icon ion-person-stalker"></span>
        </div>
      </div>


      <div class="list" ng-if="nonemptyJoinedFriends">

        <!-- <div  ng-repeat = "list in listjoins">
          <a class="item item-avatar" href="#/app/viewbesties/{{list.id}}">
            <img src="{{list.opic}}">
            <h2>{{list.uname}}</h2>
            <p><span class="icon ion-android-call"></span> {{list.contact}}</p>
          </a>
        </div> -->

      <div  ng-repeat = "list in listjoins">
        <div class="row">
          <div class="col col-20">
            <img ng-if="list.opic != ''" src="{{list.pic}}" width="60" height="60">
            <img ng-if="list.opic == ''" src="{{list.pic}}" width="60" height="60">
          </div>
          <div class="col col-60">
            <h6>{{list.uname}}</h6>
            <p><span class="icon ion-android-call"></span> {{list.contact}}</p>
          </div>
          <div class="col col-20">
            <i class="icon ion-ios-color-filter" style="float: right;top: 0;right: 0;margin: 12%;font-size:28px;color: green;"></i>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col col-20">
            <img src="img/profileGirl.png" width="60" height="60">
          </div>
          <div class="col col-60">
            <h6>Venkman T</h6>
            <p>Back off, man. I'm a scientists.</p>
          </div>
          <div class="col col-20">
            <i class="icon ion-ios-color-filter" style="float: right;top: 0;right: 0;margin: 10%;font-size:26px;color: green;"></i>
          </div>
        </div> -->
      </div>


    </div>


    <div class="list">
      <div class="item item-divider" ng-click="allcontacts()">
        <p><b>All Friends In PhoneBook <i class="icon ion-android-clipboard"></i></b></p>
      </div>
    </div>


    <!-- Search filter -->
     <!-- <div class="row">
      <div class="col">
        <a class="button button-icon icon ion-loop" ng-click="calltoupdate()"></a>
      </div>
      <div class="col col-75">
        <input type="search"
        placeholder="Filter contacts by name..."
        ng-model="search">
      </div>
    </div>
    
      <ion-list>
           
           <ion-item ng-repeat="contact in Contactitems | searchContacts:search | limitTo:listlength"
                     item="item"
                      class="item-remove-animate">

                     <div class="row">
                       <div class="col">
                       <img src="img/ionic.png" width="45" height="45">
                     </div>
                      <div class="col col-75" style="left:0">
                       <h2>{{ contact.uname }}</h2>
                       <p>{{contact.contact}}</p>
                       
                       </div>
                     </div>
             
             <ion-option-button class="button-assertive"
                                ng-click="edit(contact)">
               <i class="icon ion-ios-eye"></i>
             </ion-option-button>
             <ion-option-button class="button-calm"
                                ng-click="share(contact)">
               
               Add To Join
             </ion-option-button>
             
           </ion-item>

         </ion-list>

        <ion-infinite-scroll ng-if="listlength<=Contactitems.length"
          on-infinite="loadMore()" distance="3%">
        </ion-infinite-scroll> -->

  </ion-content>
</ion-view>