<ion-view view-title="{{ 'Me' }}">
  	<ion-content class="contentProfile">
  		<div class="row">
	        <div class="col colviewbestiesimage Profileimage">
	            <img src="{{pic}}" class=" animated fadeIn" width="100" height="100">
	        </div>
	        <div class="col colviewbestiesname">
	        	<h2 style="color: white"><b>{{name}}</b></h2>
	            <p style="color: white">Last Viewed @ {{last}}</p>
	        </div>
	    </div>
  		<div class="list">
		  <!-- <label class="item item-input item-floating-label">
		    <span class="input-label">My Name</span>
		    <input type="text" placeholder="Name" value="{{name}}">
		  </label> -->
		  
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="email" class="profiletxt" placeholder="Email" ng-model="profilemodel.email">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Age</span>
		    <input type="text" class="profiletxt" placeholder="Age" ng-model="profilemodel.age">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Address</span>
		    <input type="text" class="profiletxt" placeholder="Address" ng-model="profilemodel.address">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label" >Hobbies</span>
		    <input type="text" class="profiletxt" placeholder="Hobbies" ng-model="profilemodel.hobbies">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Your secret Answer For Last 3 Digit Of Surname</span>
		    <input type="text" class="profiletxt" placeholder="Your secret Answer For Last 3 Digit Of Surname" ng-model="profilemodel.fvans">
		  </label>
		  <button class="button button-block button-calm" ng-click="submitefork()">
			  Change Your Info
		  </button>
		</div>
		<!-- <div class="list">
			<label class="item item-input item-floating-label">
			    <span class="input-label">Image</span>
			    <input type="text" placeholder="Image">
			</label>
			<button class="button button-block button-calm">
			  Change Profile Image
		  	</button>
		</div> -->
    	<!-- <ion-tabs class="tabs-icon-bottom tabs-color-active-positive">

		  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
		    <ion-view name="tab-dash">
		    	dsf
		    </ion-view>
		  </ion-tab>
		  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
		    <ion-view name="tab-chats"></ion-view>
		  </ion-tab>
		  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
		    <ion-view name="tab-account"></ion-view>
		  </ion-tab>


		</ion-tabs>
 -->
    </ion-content>
    <ion-footer-bar class="bar bar-positive">
		<button class="button button-clear pull-right" style="width: 100%" ng-click="findmore()">Find Your Besties</button>
	</ion-footer-bar>
</ion-view>