<ion-view view-title="Profile {{name}}"> 
  <ion-content class="contentProfile" >
    
    <div class="row">
        <div class="col colviewbestiesimage">
            <img src="{{pic}}" class=" animated fadeIn profileviewimage" width="100" height="100">
        </div>
        <div class="col colviewbestiesname">
        	<h2><b class="viewbestiesnameb">{{name}}</b></h2>
            <p class="viewbestiesnameplast">Last Viewed @ {{last}}</p>
            <!-- <div ng-click="navigatethis('{{id}}')"><h3><span class="icon ion-location navigatelocationview animated fadeIn"></span></h3></div> -->
        </div>
    </div>

    <hr id="ionviewbestiesdivider">
    <div class="row">
      <div class="col col-25 mediabanner" ng-click="bestiescall()"><img src="img/phone.png" width="50" height="50"><br>Call</div>
      <div class="col col-25 mediabanner" ng-click="bestiessms()"><img src="img/sms.png" width="50" height="50"><br>SMS</div>
      <div class="col col-25 mediabanner"><a class="viewbestieschatanchor" ng-href="#/app/chat/{{id}}/{{contact}}"><img src="img/chat.png" width="50" height="50"><br>Chat</a></div>
      <div class="col col-25 mediabanner" ng-click="bestieswhatsapp()"><img src="img/whatsapp.png" width="50" height="50"><br>Whatsapp</div>
    </div>

    <div class="list viewbestiesdiv">
      <div class="item item-divider">
        <p class="viewbestiesdivp"><b class="viewbestiesnamepdetail">Detail</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col viewbestiesnamediv">
        {{name}} {{contact}}<br>
        Member Since, {{created}}
      </div>
    </div>
    
    <div class="list viewbestiesdiv">
      <div class="item item-divider">
        <p class="viewbestiesdivp"><b>Last Meet</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col viewbestiesnamedivadd">
        <span class="icon ion-location"></span> {{meetdate}} {{'at '+meetaddress}}
      </div>
    </div><br><br>
    <!-- <div class="card">
	    <div class="item item-text-wrap cardnotmeet">
	      No besties founded ago 28 days.
	    </div>
	  </div> -->

  </ion-content>
</ion-view>