<ion-tabs class="tabs-icon-top tabs-striped tabs-color-royal tabs-color-light">

   	 

    	<ion-tab title="Home" icon="ion-arrow-shrink" ui-sref="app.home.room">
      	<ion-nav-view name="home-tab"></ion-nav-view>
    	</ion-tab>

    	<ion-tab title="Invitation" icon="ion-wand" ui-sref="app.home.invitation">
      	<ion-nav-view name="invitation-tab"></ion-nav-view>
    	</ion-tab>
    
    	<ion-tab title="Last Meet" icon="ion-android-wifi" ui-sref="app.home.lastmeet">
      	<ion-nav-view name="lastmeet-tab"></ion-nav-view>
    	</ion-tab>

</ion-tabs>

<!-- <ion-view view-title="Home">
  
 <ion-tabs class="tabs-icon-top tabs-color-active-positive">


  
  <ion-tab title="Nearest" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/home/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Invitation" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/home/invitation">
    <ion-nav-view name="tab-invitation"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Last Meet" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/home/lastmeet">
    <ion-nav-view name="tab-lastmeet"></ion-nav-view>
  </ion-tab>


</ion-tabs>

</ion-view>
 -->